header{
/*todas las etiquetas header*/
    background: #444;
}

.titulo_h3{

    color: blue;
}

h1{
    /*todas las etiquetas h1*/
    color:#eee;
}
h2{
/*todas las etiquetas h2*/
    font-family: sans-serif;
}
section,aside{
    /*todas las etiquetas section y aside*/
    border: 1px solid grey;
}
a{
    color: crimson;
}
.enlace_importante{
    /*todas las etiquetas que tengan la 
    clase "enlace_importante"*/
    color:teal;

}
.titulo_h3{

    color: chartreuse;
}
